{% extends 'base.html.twig' %}

{% block title %}Zaloguj się!{% endblock %}

{% block body %}
    <div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Wyloguj się</a>
                </div>
            {% endif %}

            <label for="inputEmail" class="mb-1">E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
            <label for="inputPassword">Hasło</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >


            <button class="d-block btn btn-primary mb-2 mt-5 mx-auto" type="submit">
                Zaloguj się
            </button>

            <a href="{{ path('app_register') }}" class="d-block text-center">Zarejestruj się</a>


        </form>
    </div>
{% endblock %}
