<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        {% form_theme addTaskForm 'bootstrap_5_layout.html.twig' %}
        {{ form_start(addTaskForm, { 'attr': {'class': 'text-start modal-content'}}) }}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj zadanie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_row(addTaskForm.name) }}
                {{ form_row(addTaskForm.description) }}
                {{ form_row(addTaskForm.priority) }}
                {{ form_row(addTaskForm.date) }}
                {{ form_row(addTaskForm.isPeriod) }}
                <div class="collapse" id="periodOptions">
                    <div class="d-flex justify-content-between">
                        {{ form_row(addTaskForm.periodFrom) }}
                        {{ form_row(addTaskForm.periodTo) }}
                        {{ form_row(addTaskForm.periodTime) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-primary">Dodaj zadanie</button>
            </div>
        {{ form_end(addTaskForm) }}
    </div>
</div>